body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-style: italic;
}


h1, h2 {
    text-align: center;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 1.2rem;
    grid-row-gap: 1rem;
    padding-bottom: 1rem;
}

article {
    background-color: darkgray;
    padding: 2rem;
    border-radius: 10px;
    max-width: 500px;
}


.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background-color: black;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
}
.checkList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add {
    background-color: white;
    color: black;
    padding: 0 1rem;
}

